USE [master]
GO
/****** Object:  Database [BUILD_PROJECT_2024]    Script Date: 9/6/2024 6:02:36 PM ******/
CREATE DATABASE [BUILD_PROJECT_2024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BUILD_PROJECT_2024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BUILD_PROJECT_2024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BUILD_PROJECT_2024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BUILD_PROJECT_2024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BUILD_PROJECT_2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BUILD_PROJECT_2024]
GO
/****** Object:  Table [dbo].[HealthCareProvider]    Script Date: 9/6/2024 6:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCareProvider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Adress] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[HospitalId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_HealthCareProvider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCareProviderRole]    Script Date: 9/6/2024 6:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCareProviderRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NULL,
 CONSTRAINT [PK_HealthCareProviderRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 9/6/2024 6:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [varchar](255) NOT NULL,
	[Adress] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalClaim]    Script Date: 9/6/2024 6:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[HealthCareProviderId] [int] NOT NULL,
	[Quantity] [numeric](18, 5) NOT NULL,
	[NDC] [varchar](20) NULL,
	[TotalAmount] [numeric](18, 5) NULL,
	[DaysSupply] [int] NULL,
	[RxNumber] [varchar](50) NULL,
	[DateFilled] [date] NOT NULL,
 CONSTRAINT [PK_MedicalClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 9/6/2024 6:02:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Gender] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Adress] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](50) NULL,
	[ZIP] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[MRN] [varchar](50) NULL,
	[SSN] [varchar](50) NULL,
	[HospitalId] [int] NOT NULL,
	[InsuranceMemberId] [varchar](100) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HealthCareProvider]  WITH CHECK ADD  CONSTRAINT [FK_HealthCareProvider_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[HealthCareProvider] CHECK CONSTRAINT [FK_HealthCareProvider_Hospital]
GO
ALTER TABLE [dbo].[HealthCareProvider]  WITH CHECK ADD  CONSTRAINT [FK_HealthCareProvider_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[HealthCareProviderRole] ([Id])
GO
ALTER TABLE [dbo].[HealthCareProvider] CHECK CONSTRAINT [FK_HealthCareProvider_Role]
GO
ALTER TABLE [dbo].[MedicalClaim]  WITH CHECK ADD  CONSTRAINT [FK_MedicalClaim_HealthcareProvider] FOREIGN KEY([HealthCareProviderId])
REFERENCES [dbo].[HealthCareProvider] ([Id])
GO
ALTER TABLE [dbo].[MedicalClaim] CHECK CONSTRAINT [FK_MedicalClaim_HealthcareProvider]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Hospital]
GO
USE [master]
GO
